templates/workflow_dps_test.json
{
  "name": "DPS Triage - AI Test",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "041e181d-77c6-4c25-a37c-6664b5f0cc83"
    },
    {
      "parameters": {
        "jsCode": "// 10 STRESS TEST CASES - complex/ambiguous scenarios\nconst testCases = [\n  {\n    // Case 1: MIXED SIGNALS - sounds like no_response AND locator_complaint combined\n    alert_id: \"STRESS001\",\n    ticket_number: \"2026022400001\",\n    station_codes: [\"COMNCA\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Mike Torres\",\n    notes: \"Excavator says Comcast locator came out but only marked half the lines then left and never came back. Its been 4 days now and excavator has called 3 times. Locator told him to stop calling and that he marked everything already but excavator can see the cable running through his trench unmarked. Wants a different locator sent out.\"\n  },\n  {\n    // Case 2: BURIED LEDE - angry rambling, real issue hidden in the middle\n    alert_id: \"STRESS002\",\n    ticket_number: \"2026022400002\",\n    station_codes: [\"ATTDNORCAL\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Sandra Williams\",\n    notes: \"CALLER IS EXTREMELY UPSET AND STATES THIS IS THE WORST EXPERIENCE SHE HAS EVER HAD WITH ANY UTILITY. SHE HAS BEEN WAITING FOR 2 WEEKS. SHE SAYS THE PHONE NUMBER ON FILE FOR ATT IS A FAX MACHINE AND SHE CANT GET THROUGH TO ANYONE. SHE TRIED THE WEBSITE AND IT SAYS HER TICKET DOESNT EXIST. SHE WANTS TO SPEAK TO A MANAGER IMMEDIATELY AND SAYS SHE WILL FILE A COMPLAINT WITH THE PUC IF THIS ISNT RESOLVED TODAY.\"\n  },\n  {\n    // Case 3: PGE MENTIONED IN NOTES but station code is NOT PGE\n    alert_id: \"STRESS003\",\n    ticket_number: \"2026022400003\",\n    station_codes: [\"SFWATER\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"James Chen\",\n    notes: \"Caller works for SF Water and says PGE locator damaged their water line while marking gas lines on the adjacent ticket. He wants to know how to file a damage claim against PGE through the 811 system. Water line is now leaking and they need emergency repair coordination.\"\n  },\n  {\n    // Case 4: COMPLETELY VAGUE - almost no useful info\n    alert_id: \"STRESS004\",\n    ticket_number: \"2026022400004\",\n    station_codes: [\"N/A\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Unknown\",\n    notes: \"caller had questions\"\n  },\n  {\n    // Case 5: DUAL STATION with one PGE and one non-PGE\n    alert_id: \"STRESS005\",\n    ticket_number: \"2026022400005\",\n    station_codes: [\"PGESAC\", \"SMUD\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Robert Garcia\",\n    notes: \"Excavator states both PGE and SMUD were supposed to come out yesterday for emergency locate. SMUD showed up within 2 hours but PGE never came. Job is now 24 hours past due and contractor is losing $5000/day in standby costs. Needs immediate escalation for both utilities.\"\n  },\n  {\n    // Case 6: LOOKS LIKE SYSTEM ISSUE but is actually member_manually_added\n    alert_id: \"STRESS006\",\n    ticket_number: \"2026022400006\",\n    station_codes: [\"EBMUD\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Lisa Park\",\n    notes: \"DPS agent notes: No members were generated for this address in the system. Ticket was created as emergency and I had to manually add EBMUD based on the GIS map showing their service territory. Please verify if EBMUD's polygon needs to be updated or if this is a one-off gap in coverage.\"\n  },\n  {\n    // Case 7: NOT AN 811 ISSUE AT ALL - wrong department entirely\n    alert_id: \"STRESS007\",\n    ticket_number: \"2026022400007\",\n    station_codes: [\"N/A\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Tom Baker\",\n    notes: \"Caller wants to know if he needs a permit to build a fence in his backyard. He also wants to know if 811 can tell him where his property line is. He says his neighbor is encroaching on his land and he wants someone to come out and survey it.\"\n  },\n  {\n    // Case 8: SYSTEM STATUS that overlaps with TICKET DELIVERY\n    alert_id: \"STRESS008\",\n    ticket_number: \"2026022400008\",\n    station_codes: [\"CALCBL\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Maria Gonzalez\",\n    notes: \"Member called in and says they havent received any tickets in their DPP portal for the last 3 days but excavators are calling them saying they submitted tickets. She checked her email and the notification emails stopped coming too. She thinks her account might be suspended but she can still log in. She ran a search in DPP and the tickets show up there but no notifications are being triggered.\"\n  },\n  {\n    // Case 9: MULTI-LANGUAGE / GARBLED NOTES with a real issue underneath\n    alert_id: \"STRESS009\",\n    ticket_number: \"2026022400009\",\n    station_codes: [\"COMNCA\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Wei Zhang\",\n    notes: \"caller not speak english very well, he say he dig and hit something, maybe cable maybe pipe he not sure. he say comcast box is close and wire is orange. he stop work and want to know who to call. he say he had ticket but nobody come to mark. i give him damage reporting number but he want comcast to come look at what he hit.\"\n  },\n  {\n    // Case 10: EVERYTHING AT ONCE - no_response + contact_info + system_status + angry\n    alert_id: \"STRESS010\",\n    ticket_number: \"2026022400010\",\n    station_codes: [\"PGESFR\"],\n    issue_type: \"Other\",\n    states: [\"California\"],\n    customer_name: \"Dave Mitchell\",\n    notes: \"CONTRACTOR HAS BEEN TRYING TO REACH PGE FOR 5 BUSINESS DAYS ON TICKET 2026021500333. THE PHONE NUMBER IN THE SYSTEM RINGS TO A RECORDING THAT SAYS THE NUMBER HAS BEEN CHANGED. HE TRIED SUBMITTING A POSITIVE RESPONSE ON BEHALF OF PGE THROUGH DPP BUT THE SYSTEM SAYS PGE IS NOT ELIGIBLE FOR THIRD PARTY RESPONSES. HE FOUND A DIFFERENT PGE NUMBER ONLINE AND CALLED IT BUT THEY SAID THEY DONT HANDLE 811 LOCATES. CONTRACTOR SAYS HE HAS 15 CREW MEMBERS SITTING IDLE AND IS THREATENING LEGAL ACTION IF SOMEONE DOESNT RESOLVE THIS TODAY.\"\n  }\n];\n\nreturn testCases.map(tc => ({ json: tc }));"
      },
      "name": "Test Cases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "e67c5fd7-d18a-4920-8b44-c1c152a81124"
    },
    {
      "parameters": {
        "jsCode": "// Gather HubSpot Context - processes ALL items\nconst HS_TOKEN = 'Bearer pat-na1-YOUR_HUBSPOT_PAT_HERE';\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const stationCodes = data.station_codes || [];\n  const stationDetails = [];\n\n  for (const code of stationCodes) {\n    if (!code || code === 'N/A') {\n      stationDetails.push({ station_code: code, found: false, details: null });\n      continue;\n    }\n\n    try {\n      const searchResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.hubapi.com/crm/v3/objects/2-35681060/search',\n        headers: { 'Authorization': HS_TOKEN, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          filterGroups: [{\n            filters: [{\n              propertyName: 'station_code',\n              operator: 'EQ',\n              value: code\n            }]\n          }],\n          properties: ['station_code', 'station_email', 'station_contact_name'],\n          limit: 1\n        })\n      });\n\n      const station = searchResponse.results?.[0];\n      let rep_email = station?.properties?.station_email || null;\n      let rep_name = station?.properties?.station_contact_name || null;\n      let lookup_method = rep_email ? 'direct' : 'none';\n\n      if (!rep_email && station) {\n        try {\n          const assocData = await this.helpers.httpRequest({\n            method: 'GET',\n            url: `https://api.hubapi.com/crm/v4/objects/2-35681060/${station.id}/associations/contacts`,\n            headers: { 'Authorization': HS_TOKEN }\n          });\n          const contactId = assocData.results?.[0]?.toObjectId;\n          if (contactId) {\n            const contact = await this.helpers.httpRequest({\n              method: 'GET',\n              url: `https://api.hubapi.com/crm/v3/objects/contacts/${contactId}?properties=email,firstname,lastname`,\n              headers: { 'Authorization': HS_TOKEN }\n            });\n            rep_email = contact.properties?.email || null;\n            rep_name = `${contact.properties?.firstname || ''} ${contact.properties?.lastname || ''}`.trim() || null;\n            lookup_method = rep_email ? 'association' : 'association_no_email';\n          }\n        } catch (err) {\n          lookup_method = `error: ${err.message}`;\n        }\n      }\n\n      stationDetails.push({\n        station_code: code,\n        found: !!station,\n        rep_email,\n        rep_name,\n        lookup_method,\n        station_id: station?.id || null\n      });\n    } catch (err) {\n      stationDetails.push({\n        station_code: code,\n        found: false,\n        error: err.message\n      });\n    }\n  }\n\n  // Use first station with a rep email as the current_recipient\n  const primaryStation = stationDetails.find(s => s.rep_email) || stationDetails[0] || {};\n\n  results.push({\n    json: {\n      ...data,\n      current_recipient: {\n        rep_email: primaryStation.rep_email || null,\n        rep_name: primaryStation.rep_name || null\n      },\n      hubspot_context: {\n        station_details: stationDetails,\n        lookup_timestamp: new Date().toISOString()\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Gather HubSpot Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "58aea055-307d-4c8e-bbd3-d7dd7bdfe579"
    },
    {
      "parameters": {
        "jsCode": "// Claude Triage - CLASSIFICATION ONLY (routing handled in code)\nconst ANTHROPIC_API_KEY = 'sk-ant-api03-YOUR_ANTHROPIC_KEY_HERE';\n\nconst systemPrompt = `You are an email triage assistant for USA North 811 (USAN) Member Services.\n\nYou analyze DPS (Department Alert System) alerts that came in with issue type \"Other\" and determine the REAL issue category.\n\nBACKGROUND: USAN is a one-call center (811 service). Excavators call before they dig, tickets are generated, and member utilities must respond by locating/marking their underground lines. DPS agents categorize incoming alerts but sometimes select \"Other\" when the issue doesn't fit neatly or when they're unsure.\n\nCLASSIFY into one of these categories:\n\n- \"no_response\": Excavator reports the utility hasn't responded to a locate ticket. Urgent - excavator can't dig until lines are marked.\n  EXAMPLES: \"3rd attempt to get in touch with utility\", \"no response\", \"utility hasn't marked\", \"can't reach member\"\n\n- \"contact_info_issue\": Wrong phone/email on file for the member.\n  EXAMPLES: \"phone number is disconnected\", \"wrong number\", \"can't reach contact\"\n\n- \"member_manually_added\": Station code was manually added to a ticket.\n  EXAMPLES: \"manually added to ticket\", \"no members generated for area\"\n\n- \"locator_complaint\": Excavator complaining about locator behavior or work quality.\n  EXAMPLES: \"locator is unwilling to mark\", \"falsely stating no delineations\", \"wants supervisor\"\n\n- \"aoi_mapping_issue\": Member receiving wrong tickets or wants Area of Interest adjusted.\n  EXAMPLES: \"receiving non-related tickets\", \"decrease work radius\", \"wrong area\"\n\n- \"ticket_delivery_issue\": Member didn't receive a ticket or ticket not showing in system.\n  EXAMPLES: \"could not locate ticket\", \"didn't receive ticket\"\n\n- \"system_status_issue\": Portal/system issues like inactive status, DPP problems, positive response failures.\n  EXAMPLES: \"shows inactive\", \"issues providing positive response\", \"not populating in dropdown\"\n\n- \"general\": Relevant to the member but doesn't fit above categories.\n\nOUTPUT FORMAT (respond with ONLY this JSON, no markdown):\n{\n  \"classified_issue_type\": \"<category from above>\",\n  \"confidence\": \"high|medium|low\",\n  \"reasoning\": \"Brief explanation of classification\",\n  \"inferred_company\": null\n}\n\nIMPORTANT: If the station code is \"N/A\", missing, or invalid (like \"001\"), try to identify the company/utility from the notes and put it in \"inferred_company\". Do NOT include routing decisions - just classify.`;\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  const stationCodesStr = (data.station_codes || []).join(', ');\n  const statesStr = (data.states || []).join(', ');\n  const repName = data.current_recipient?.rep_name || 'Unknown';\n  const repEmail = data.current_recipient?.rep_email || 'Unknown';\n\n  const userMessage = `Classify this DPS alert:\n\n- Alert ID: ${data.alert_id}\n- Ticket Number: ${data.ticket_number}\n- Station Code(s): ${stationCodesStr}\n- State: ${statesStr}\n- Original Issue Type: Other\n- Customer Name: ${data.customer_name || 'N/A'}\n- Notes: ${data.notes || 'N/A'}\n\nMember Rep on file: ${repName} (${repEmail})`;\n\n  const requestBody = JSON.stringify({\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 512,\n    system: systemPrompt,\n    messages: [\n      { role: 'user', content: userMessage }\n    ]\n  });\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': ANTHROPIC_API_KEY,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json'\n      },\n      body: requestBody,\n      timeout: 30000\n    });\n\n    results.push({\n      json: {\n        ...data,\n        claude_raw_response: response.content[0].text,\n        claude_model: response.model,\n        claude_usage: response.usage,\n        _prompt_sent: userMessage\n      }\n    });\n  } catch (err) {\n    results.push({\n      json: {\n        ...data,\n        claude_error: err.message,\n        claude_raw_response: null,\n        _fallback: true,\n        _prompt_sent: userMessage\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "name": "Claude Triage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "132e8adf-33ba-43fe-9fa3-572b83a2af5d"
    },
    {
      "parameters": {
        "jsCode": "// Apply Triage Decision - DETERMINISTIC ROUTING RULES\nconst HS_TOKEN = 'Bearer pat-na1-YOUR_HUBSPOT_PAT_HERE';\nconst results = [];\n\n// ===== ROUTING RULES (edit these, not the AI prompt) =====\nconst ROUTE_TO_REP = ['no_response', 'contact_info_issue', 'member_manually_added', 'general'];\nconst ROUTE_TO_MEMBERSERVICES = ['locator_complaint', 'aoi_mapping_issue', 'ticket_delivery_issue'];\n// system_status_issue: route to rep (member needs DPP help from their rep)\n// PGE* station codes: always manual_review\n// N/A or missing station: always memberservices\n// ==========================================================\n\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  // Handle API failure \u2014 safe fallback\n  if (data._fallback || !data.claude_raw_response) {\n    results.push({\n      json: {\n        ...data,\n        triage_decision: {\n          classified_issue_type: 'unknown',\n          confidence: 'none',\n          reasoning: `Claude API failed: ${data.claude_error || 'No response'}`,\n          fallback: true\n        },\n        routing_rule: 'fallback',\n        final_routing: {\n          send_to: 'memberservices@usan.org',\n          send_to_name: 'Member Services',\n          cc: [],\n          template: 'general',\n          is_fallback: true\n        }\n      }\n    });\n    continue;\n  }\n\n  // Parse Claude's classification\n  let triage;\n  try {\n    let rawText = data.claude_raw_response.trim();\n    if (rawText.startsWith('```')) {\n      rawText = rawText.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n    }\n    triage = JSON.parse(rawText);\n  } catch (err) {\n    results.push({\n      json: {\n        ...data,\n        triage_decision: {\n          classified_issue_type: 'parse_error',\n          confidence: 'none',\n          reasoning: `Failed to parse: ${err.message}`,\n          raw_response: data.claude_raw_response,\n          fallback: true\n        },\n        routing_rule: 'fallback',\n        final_routing: {\n          send_to: 'memberservices@usan.org',\n          send_to_name: 'Member Services',\n          cc: [],\n          template: 'general',\n          is_fallback: true\n        }\n      }\n    });\n    continue;\n  }\n\n  const classification = triage.classified_issue_type;\n  const stationCodes = data.station_codes || [];\n  const recipient = data.current_recipient || {};\n\n  // ===== DETERMINISTIC ROUTING LOGIC =====\n\n  let routeTo;\n  let routingRule;\n\n  // Rule 1: PGE station codes \u2192 always manual_review\n  const hasPGE = stationCodes.some(c => (c || '').toUpperCase().startsWith('PGE'));\n  if (hasPGE) {\n    routeTo = 'manual_review';\n    routingRule = 'pge_manual_review';\n  }\n  // Rule 2: N/A or missing station \u2192 memberservices (can't identify rep)\n  else if (stationCodes.length === 0 || stationCodes.every(c => !c || c === 'N/A' || c === '001')) {\n    routeTo = 'memberservices';\n    routingRule = 'no_valid_station';\n  }\n  // Rule 3: Classification-based routing\n  else if (ROUTE_TO_REP.includes(classification)) {\n    routeTo = 'rep';\n    routingRule = 'classification_to_rep';\n  }\n  else if (ROUTE_TO_MEMBERSERVICES.includes(classification)) {\n    routeTo = 'memberservices';\n    routingRule = 'classification_to_memberservices';\n  }\n  // Rule 4: system_status_issue \u2192 rep (member needs DPP help)\n  else if (classification === 'system_status_issue') {\n    routeTo = 'rep';\n    routingRule = 'system_status_to_rep';\n  }\n  // Rule 5: Unknown classification \u2192 memberservices\n  else {\n    routeTo = 'memberservices';\n    routingRule = 'unknown_classification_fallback';\n  }\n\n  // ===== BUILD FINAL ROUTING =====\n\n  let finalRouting;\n  let inferredLookup = null;\n\n  // If routing to rep but we need to infer the company\n  if (routeTo === 'rep' && triage.inferred_company && !recipient.rep_email) {\n    try {\n      const searchResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.hubapi.com/crm/v3/objects/2-35681060/search',\n        headers: { 'Authorization': HS_TOKEN, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          filterGroups: [{\n            filters: [{\n              propertyName: 'station_code',\n              operator: 'CONTAINS_TOKEN',\n              value: triage.inferred_company.replace(/[^a-zA-Z0-9]/g, '').substring(0, 10)\n            }]\n          }],\n          properties: ['station_code', 'station_email', 'station_contact_name'],\n          limit: 5\n        })\n      });\n      if (searchResponse.results && searchResponse.results.length > 0) {\n        const station = searchResponse.results[0];\n        inferredLookup = {\n          found: true,\n          station_code: station.properties?.station_code,\n          rep_email: station.properties?.station_email,\n          rep_name: station.properties?.station_contact_name\n        };\n      } else {\n        inferredLookup = { found: false, searched_for: triage.inferred_company };\n        routeTo = 'memberservices';\n        routingRule += '_inferred_not_found';\n      }\n    } catch (err) {\n      inferredLookup = { found: false, error: err.message };\n      routeTo = 'memberservices';\n      routingRule += '_lookup_error';\n    }\n  }\n\n  switch (routeTo) {\n    case 'rep': {\n      const repEmail = inferredLookup?.rep_email || recipient.rep_email;\n      const repName = inferredLookup?.rep_name || recipient.rep_name;\n      finalRouting = {\n        send_to: repEmail || 'memberservices@usan.org',\n        send_to_name: repName || 'Member Services',\n        cc: triage.confidence === 'low' ? ['memberservices@usan.org'] : [],\n        template: classification,\n        is_fallback: !repEmail\n      };\n      break;\n    }\n    case 'manual_review':\n      finalRouting = {\n        send_to: 'memberservices@usan.org',\n        send_to_name: 'Member Services',\n        cc: [],\n        template: 'manual_review',\n        requires_human_review: true,\n        is_fallback: false\n      };\n      break;\n    default:\n      finalRouting = {\n        send_to: 'memberservices@usan.org',\n        send_to_name: 'Member Services',\n        cc: [],\n        template: classification,\n        is_fallback: false\n      };\n  }\n\n  results.push({\n    json: {\n      ...data,\n      triage_decision: triage,\n      routing_rule: routingRule,\n      inferred_lookup: inferredLookup,\n      final_routing: finalRouting\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Apply Triage Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "f31e0c74-2977-4e69-81e8-2388e7b880e8"
    },
    {
      "parameters": {
        "jsCode": "// Debug Output - ALL test cases\nconst results = [];\nfor (const item of $input.all()) {\n  const data = item.json;\n  results.push({ json: {\n    alert_id: data.alert_id,\n    ticket_number: data.ticket_number,\n    station_codes: (data.station_codes || []).join(', '),\n    original_issue_type: data.issue_type,\n    notes: (data.notes || '').substring(0, 200),\n    classified_as: data.triage_decision?.classified_issue_type || 'N/A',\n    route_to: data.triage_decision?.route_to || 'N/A',\n    confidence: data.triage_decision?.confidence || 'N/A',\n    reasoning: data.triage_decision?.reasoning || 'N/A',\n    inferred_company: data.triage_decision?.inferred_company || 'none',\n    send_to: data.final_routing?.send_to || 'N/A',\n    send_to_name: data.final_routing?.send_to_name || 'N/A',\n    cc: (data.final_routing?.cc || []).join(', ') || 'none',\n    template: data.final_routing?.template || 'N/A',\n    is_fallback: data.final_routing?.is_fallback || false,\n    requires_human_review: data.final_routing?.requires_human_review || false,\n    claude_model: data.claude_model || 'N/A',\n    input_tokens: data.claude_usage?.input_tokens || 'N/A',\n    output_tokens: data.claude_usage?.output_tokens || 'N/A'\n  }});\n}\nreturn results;"
      },
      "name": "Debug Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        0
      ],
      "id": "bd9d481b-9d91-4f2e-8f36-617364d9a4b4"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Cases": {
      "main": [
        [
          {
            "node": "Gather HubSpot Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather HubSpot Context": {
      "main": [
        [
          {
            "node": "Claude Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Triage": {
      "main": [
        [
          {
            "node": "Apply Triage Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Triage Decision": {
      "main": [
        [
          {
            "node": "Debug Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": null
}